<div class="container-fluid d-flex justify-content-between">
  <h1 class="container-fluid"> Liste des produits <span *ngIf="category != undefined"> par {{ category }} </span> </h1>
  <div class="btn-group">
    <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Trier par...
    </button>
    <div class="dropdown-menu dropdown-menu-right">
      <button class="dropdown-item" type="button" (click)="sortByIncPrice()">prix croissant</button>
      <button class="dropdown-item" type="button" (click)="sortByDecPrice()">prix décroissant</button>
      <button class="dropdown-item" type="button" (click)="sortByIncAlpha()">ordre croissant</button>
      <button class="dropdown-item" type="button" (click)="sortByDecAlpha()">ordre décroissant</button>
    </div>
  </div>
</div>



<div class="products-content">
    <div class="card product" style="width: 18rem;" *ngFor="let product of products">
    <img class="card-img-top w-50" src="../../assets/public/user.svg" alt="product logo">
    <div class="card-body">
        <h5 class="card-title">{{ product.name }}</h5>
        <h6>{{ product.price }}€</h6>
        <h6>{{ product.marque }}</h6>
        <h6>{{ product.type }}</h6>
        <a class="btn btn-warning" (click)="addToCart(product._id)">Ajouter au panier</a>
    </div>
</div>
