<!-- Toolbar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" routerLink="/"> Superventes </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/products">Produits</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/categories">Categories</a>
      </li>
    </ul>

    <div class="btn-group">
      <a class="btn btn-outline-success active" routerLink="/users/signin" *ngIf="!(user|async)"><i class="fa fa-sign-in"></i> Se connecter</a>
      <button class="btn btn-outline-light dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
              aria-expanded="false" *ngIf="user|async">
        <i class="fa fa-user-circle" aria-hidden="true"></i> {{username}}
      </button>
      <div class="dropdown-menu dropdown-menu-right"  *ngIf="user|async">
        <button class="dropdown-item"><i class="fa fa-address-book"></i> Votre profil</button>
        <button class="dropdown-item" (click)="showCart()"><i class="fa fa-shopping-cart"></i> Votre panier</button>
        <button class="dropdown-item" (click)="disconnect()"><i class="fa fa-sign-out"></i> Se déconnecter</button>
      </div>
    </div>
  </div>
</nav>
