.products-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  transition: 0.5s ease-in-out;
}

.product {
  margin: 1%;
  padding: 2%;
}

table {
  width: 96%;
  animation: all ease-in;
}

thead {
  font-size: 20px;
}

tfoot {
  font-weight: bold;
  font-size: 20px;
}
