<p class="title"> Votre panier </p>

<p class="text-center" *ngIf="totalPrice === 0">Ton panier est vide, va acheter vite chenapan !</p>

<table class="table table-striped m-auto" *ngIf="(user|async)">
  <thead>
  <tr>
    <th scope="col">Nom de l'article</th>
    <th scope="col">Catégories</th>
    <th scope="col">Description</th>
    <th scope="col">Prix unitaire</th>
    <th scope="col">Quantité</th>
    <th scope="col">Prix</th>
    <th scope="col">Ajouter</th>
    <th scope="col">Enlever</th>
  </tr>
  </thead>

  <tbody>
  <tr *ngFor="let item of cart.items">
    <td>{{ item.name }}</td>
    <td>{{ item.categorie }}</td>
    <td>Une description digne des plus grands héros.</td>
    <td>{{ item.price }}€</td>
    <td>{{ item.qty }}</td>
    <td>{{ item.qty * item.price }}€</td>
    <td>
      <button class="btn btn-outline-info" (click)="addToCart(item.product)">+</button>
    </td>
    <td>
      <button class="btn btn-outline-danger" (click)="removeToCart(item.product)">-</button>
    </td>
  </tr>
  </tbody>

  <tfoot>
  <tr *ngIf="totalPrice !== 0">
    <td colspan="7">Total: {{totalPrice}}€</td>
    <td>
      <button class="btn btn-primary" (click)="emptiedCart()">Valider le panier</button>
    </td>
  </tr>
  </tfoot>
</table>


